body {
    font-family: "Tajawal", sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 25px;
}

.container {
    max-width: 450px;
    margin: auto;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
}

.search-box button {
    padding: 10px 15px;
    background: #3498db;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.result-box, .cards-container {
    margin-top: 20px;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.card h3 {
    margin: 0 0 10px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.form-box {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-box input,
.form-box textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.btn {
    display: block;
    width: 200px;
    margin: auto;
    padding: 10px;
    text-align: center;
    background: #2ecc71;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}

.center {
    text-align: center;
}

.no-result {
    color: red;
    text-align: center;
}
